<a href="https://colab.research.google.com/github/aadityasomani/College-Assignment/blob/main/Lesson_30_Python_Tuples_II_Aditya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 30: Python Tuples II

---

### Teacher-Student Tasks

Let's continue our discussion on Python tuples. In this class we will learn certain operations on tuples  which are common to lists.

Let's continue this class from the concatenation of tuples.

---

#### Task 1: Concatenation

In the lesson **Python Tuples I**, we learned that we cannot add a new item to a tuple because tuples are immutable. However, we can join two tuples through concatenation. 

The process of joining two entities is called **concatenation**. 

Let us understand this concept with the help of an example. Here are three different tuples containing the annual GDP of India (in %) starting from 1991 till 2018. These GDP figures are taken from the official world bank data website. 

1. `india_gdp_1991_2000 = (1.057, 5.482, 4.751, 6.659, 7.574, 7.550, 4.050, 6.184, 8.846, 3.841)`

2. `india_gdp_2001_2010 = (4.824, 3.804, 7.860, 7.923, 7.923, 8.061, 7.661, 3.087, 7.862, 8.498)`

3. `india_gdp_2011_2018 = (5.241, 5.456, 6.386, 7.410, 7.996, 8.170, 7.168, 6.811)`

Let's join these tuples to form one tuple. To concatenate two or more tuples, use the `+` operator:

In [1]:
# S1.1: Join the above three tuples to form a new tuple and store it in the 'india_gdp_1991_2018' variable. Also, print its length.
india_gdp_1991_2000 = (1.057, 5.482, 4.751, 6.659, 7.574, 7.550, 4.050, 6.184, 8.846, 3.841)
india_gdp_2001_2010 = (4.824, 3.804, 7.860, 7.923, 7.923, 8.061, 7.661, 3.087, 7.862, 8.498)
india_gdp_2011_2018 = (5.241, 5.456, 6.386, 7.410, 7.996, 8.170, 7.168, 6.811)
india_gdp_1991_2018=india_gdp_1991_2000+india_gdp_2001_2010+india_gdp_2011_2018
print('There are ',len(india_gdp_1991_2018),'items in the resultant tuples')
india_gdp_1991_2018

There are  28 items in the resultant tuples

(1.057,
 5.482,
 4.751,
 6.659,
 7.574,
 7.55,
 4.05,
 6.184,
 8.846,
 3.841,
 4.824,
 3.804,
 7.86,
 7.923,
 7.923,
 8.061,
 7.661,
 3.087,
 7.862,
 8.498,
 5.241,
 5.456,
 6.386,
 7.41,
 7.996,
 8.17,
 7.168,
 6.811)

Let's verify whether the resulting tuple is indeed a tuple or not:

In [2]:
# S1.2: Verify whether the resulting tuple is indeed a tuple or not.
type(india_gdp_1991_2018)

tuple

You can also concatenate multiple lists using the `+` operator:

In [3]:
# S1.3: Create two or three lists containing some random items and concatenate them.
list1=[x for x in range(1,10)]
list2=[x for x in range(11,20)]
list3=list1+list2
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19]

As you can see, the `first_15_nat_nums` contains items of both the lists `first_10_nat_nums` and `next_5_nat_nums`.

**Note:** You cannot concatenate multiple Python dictionaries, NumPy arrays, and Pandas series among themselves using the `+` operator.

---

#### Task 2: The `tuple()` Function

You can convert a Python list / NumPy array / Pandas Series into a tuple using the `tuple()` function. 

Let's create a NumPy array of the first 10 natural numbers and convert it into a tuple using the `tuple()` function:

In [4]:
# S2.1: Create a NumPy array containing the first 10 natural numbers and convert it into a tuple. 
# Also, verify whether the array is converted to a tuple or not.
import numpy as np


# Create a NumPy array.
np_arr=np.arange(1,11)
# Print the NumPy array.
print(np_arr)
# Convert the NumPy array into a tuple.
tp_arr=tuple(np_arr)
# Print the tuple.
print(tp_arr)
# Verify.
type(tp_arr)

[ 1  2  3  4  5  6  7  8  9 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

tuple

If you apply the `tuple()` function on a dictionary, the resulting tuple will contain only the keys of a dictionary.

Let's apply the `tuple()` function on the following dictionary and check the output:

```
my_dict = {'Front Camera' : '16 MP', 
           'Battery' : '3300 mAh',
           'Processor' : 'Qualcomm Snapdragon 845',
           'Display' : '6.28 inches',  
           'RAM' : '6 GB', 
           'Rear Camera' : '16 MP + 20 MP', 
           'Price' : 28990, 
           'Fast Charge' : True} 
```

In [5]:
# S2.2: Apply the 'tuple()' function on the 'my_dict' dictionary.
my_dict = {'Front Camera' : '16 MP', 
           'Battery' : '3300 mAh',
           'Processor' : 'Qualcomm Snapdragon 845',
           'Display' : '6.28 inches',  
           'RAM' : '6 GB', 
           'Rear Camera' : '16 MP + 20 MP', 
           'Price' : 28990, 
           'Fast Charge' : True} 
tup_dict=tuple(my_dict)
tup_dict

('Front Camera',
 'Battery',
 'Processor',
 'Display',
 'RAM',
 'Rear Camera',
 'Price',
 'Fast Charge')

As you can see, the `tuple()` function, when applied to a dictionary, returns a tuple containing only the keys of the dictionary.

Similarly, you can also apply the `list()` function to convert a data structure into a list. The `list()` function, when applied to a dictionary, also returns a list containing only the keys of the dictionary:

In [6]:
# S2.3: Apply the 'list()' function on the 'my_dict' dictionary.
list_dict=list(my_dict)
list_dict

['Front Camera',
 'Battery',
 'Processor',
 'Display',
 'RAM',
 'Rear Camera',
 'Price',
 'Fast Charge']

From the above output, you may observe that `my_dict` dictionary has been converted into `my_list` dictionary using the `list()` function.

---

#### Task 3: Unpacking

We can unpack or assign all the values to the same number of variables by writing them in one line.

**Syntax for unpacking:** `vb1, vb2, vb3, ..., vbN = (item1, item2, item3, ..., itemN)`

Where `vb1, vb2, vb3, ..., vbN` are `N` different variables and `item1, item2, item3, ..., itemN` are `N` different items stored in the tuple.

In [8]:
# S3.1: Create a tuple containing 5 items and assign their values to 5 differing variables.
name,age,height,weight,city=('a',25,143,45,'bhl')
print(name)
type(name)

a

str

In [9]:
name,age,height,weight,city=['a',25,143,45,'bhl']
print(name)
type(name)

a

str

The same method is also applicable for a list.

**Note:** This method of unpacking values fails when the number of variables is less than or greater than the number of items in a tuple or a list.

---

#### Task 4: Changing Tuple Items

We have already discussed that we cannot change the contents of a tuple. However, we can first convert the tuple into a list, then change the contents of the list and finally change the list back into a tuple.

Let's create a tuple of English vowels that contains one consonant. To remove that consonant, we will first convert the tuple into a list using the `list()` function, then will remove the consonant by applying the `remove()` function and then convert the list back to a tuple using the `tuple()` function:

In [10]:
# S4.1: Create a tuple containing English vowels and then reverse the order of its items.
# Create a tuple of vowels.
vowels_tuple=('a','e','i','o','u','b')

# Print the contents of the tuple before converting it into a list.
print("Before Converting",vowels_tuple)
# Convert the tuple into a list.
vowels_list=list(vowels_tuple)
vowels_list.remove('b')
# Remove the consonant from the list.


# Convert the list into a tuple.
vowels_tuple=tuple(vowels_list)

# Print the items of the tuple after reversing their order.
print('After Reversing',vowels_tuple[::-1])

Before Converting ('a', 'e', 'i', 'o', 'u', 'b')
After Reversing ('u', 'o', 'i', 'e', 'a')

Similarly, you can apply other list functions by first converting a tuple into a list and then changing the list back to the tuple by applying the `tuple()` function. This little hack is useful when the data entered in a tuple is wrong or undesirable. However, this hack becomes a computationally heavy task in the case of a huge dataset. Imagine having 1 million (or 10 lakh) data points in a dataset that is not supposed to be changed. But then there is one mistake that needs to be corrected. You will have to first convert the entire tuple into a list, then correct the mistake in the item and then convert it back into a tuple. This exercise could lead to system failure in the case of large datasets.

---

#### Task 5: The `enumerate()` Function

Before we learn this function, think of a way to print the indices of the items contained in the `india_gdp_2011_2018` tuple along with the items one by one:

In [11]:
# S5.1: Print the indices of the items contained in the 'india_gdp_2011_2018' tuple along with the items one-by-one.
for i in range(len(india_gdp_2011_2018)):
    print(i,india_gdp_2011_2018[i])

0 5.241
1 5.456
2 6.386
3 7.41
4 7.996
5 8.17
6 7.168
7 6.811

The `enumerate()` function does a similar thing. It labels the items contained in a data structure with numbers starting from zero. It is similar to doing the roll call to get the count of the number of people present in a gathering. However, it returns a non-readable Python object. 

Let's apply the `enumerate()` function on the `india_gdp_2011_2018` tuple:

In [12]:
# S5.2: Apply the 'enumerate()' function on the 'india_gdp_2011_2018' tuple.
enum_gdp=enumerate(india_gdp_2011_2018)
enum_gdp

As you can see, the output is some gibberish or non-readable object. It returns the physical memory location of the object created by the `enumerate()` function. 

Now, apply the `tuple()` function on top of the `enumerate()` function:

In [13]:
# S5.3: Apply the 'tuple()' function on top of the 'enumerate()' function.
enum_gdp=tuple(enumerate(india_gdp_2011_2018))
enum_gdp

((0, 5.241),
 (1, 5.456),
 (2, 6.386),
 (3, 7.41),
 (4, 7.996),
 (5, 8.17),
 (6, 7.168),
 (7, 6.811))

As you can see, the output is a tuple containing the key-value pairs of the item and its roll call such that each key-value pair is another tuple.

You can also iterate through each tuple print both roll call and the item:

In [14]:
# S5.4: Iterate through each tuple print both roll call and the item contained in the above tuple.
for i,j in enum_gdp:
    print(i,j)

0 5.241
1 5.456
2 6.386
3 7.41
4 7.996
5 8.17
6 7.168
7 6.811

Thus, we printed both roll call and the item at each roll call using `for` loop.

The `enumerate()` function can also be applied on lists, dictionaries, and strings:

In [19]:
# S5.5: Apply the 'enumerate()' function on 'my_dict' dictionary and 'vowels_list'. On top of them apply the 'tuple()' function. 
enum_tuple=tuple(enumerate(my_dict))
enum_tuple2=tuple(enumerate(vowels_list))
print(enum_tuple,enum_tuple2)

((0, 'Front Camera'), (1, 'Battery'), (2, 'Processor'), (3, 'Display'), (4, 'RAM'), (5, 'Rear Camera'), (6, 'Price'), (7, 'Fast Charge')) ((0, 'a'), (1, 'e'), (2, 'i'), (3, 'o'), (4, 'u'))

As you can see, the `tuple()` function when applied on top of the `enumerate()` function: 

- In the case of the `my_dict` dictionary, returns a **tuple** that is a collection of tuples such that each tuple contains the roll call of every key and the key itself contained in the `my_dict` dictionary. The values of the `my_dict` dictionary are ignored.

- In the case of the `vowels_list`, returns a **tuple** that is a collection of tuples such that each tuple contains the roll call of every item and the item itself contained in the `vowels_list`.

In [21]:
# S5.6: Apply the 'enumerate()' function on 'my_dict' dictionary and 'vowels_list'. On top of them apply the 'list()' function.
enum_list1=list(enumerate(my_dict,2))
enum_list2=list(enumerate(vowels_list))
print(enum_list1,enum_list2)

[(2, 'Front Camera'), (3, 'Battery'), (4, 'Processor'), (5, 'Display'), (6, 'RAM'), (7, 'Rear Camera'), (8, 'Price'), (9, 'Fast Charge')] [(0, 'a'), (1, 'e'), (2, 'i'), (3, 'o'), (4, 'u')]

As you can see, the `list()` function when applied on top of the `enumerate()` function: 

- In the case of the `my_dict` dictionary, returns a **list** that is a collection of tuples such that each tuple contains the roll call of every key and the key itself contained in the `my_dict` dictionary. The values of the `my_dict` dictionary are ignored.

- In the case of the `vowels_list`, returns a **list** that is a collection of tuples such that each tuple contains the roll call of every item and the item itself contained in the `vowels_list`.

Let us use the `enumerate()` function with `my_dict` dictionary and `vowels_list` and also apply the `dict()` function:

In [22]:
# S5.7: Apply the 'enumerate()' function on 'my_dict' dictionary and 'vowels_list'. On top of them apply the 'dict()' function.
enum_dict=dict(enumerate(my_dict))
enum_dict

{0: 'Front Camera',
 1: 'Battery',
 2: 'Processor',
 3: 'Display',
 4: 'RAM',
 5: 'Rear Camera',
 6: 'Price',
 7: 'Fast Charge'}

As you can see, the `dict()` function when applied on top of the `enumerate()` function: 

- In the case of the `my_dict` dictionary, returns a **dictionary** that is a collection of key-value pairs such that each pair contains the roll call of every key and the key itself contained in the `my_dict` dictionary. The values of the `my_dict` dictionary are ignored.

- In the case of the `vowels_list`, returns a **dictionary** that is a collection of key-value pairs such that each pair contains the roll call of every item and the item itself contained in the `vowels_list`.

---

#### Task 6: The `sorted()` Function

If you want to display the items of a tuple in the increasing or decreasing order, then you can apply the `sorted()` function. However, it will return a list instead of a tuple.

The `sorted()` function, by default, arrange the items in ascending order. To arrange them in descending order, pass a parameter called `reverse=True` inside the `sorted()` function.

**Syntax:** 

- For ascending order, `sorted(tuple_name)`

- For descending order, `sorted(tuple_name, reverse=True)`

Let's learn this function with the help of an example:

In [23]:
# S6.1: Create a tuple containing 10 random integers ranging between 1 and 50.
import random
tuple1=tuple([random.randint(1,50) for x in range(10)])
tuple1

(17, 10, 46, 28, 4, 16, 39, 13, 29, 23)

In [24]:
# S6.2: Now display the items of the tuple in the ascending order.
sorted_tuple=sorted(tuple1)
sorted_tuple

[4, 10, 13, 16, 17, 23, 28, 29, 39, 46]

As you can see, the items of the `randint_tuple` are displayed in the ascending order but as a list.

The same function can also be applied for a Python list with the same syntax.

In [25]:
# S6.3: Create a list containing 10 random integers ranging between 100 and 150.
list1=[random.randint(100,150) for x in range(10)]
list1

[133, 136, 147, 126, 113, 133, 134, 116, 103, 101]

In [26]:
# S6.4: Now display the items of the list in the descending order.
sorted_list1=sorted(list1,reverse=True)
sorted_list1

[147, 136, 134, 133, 133, 126, 116, 113, 103, 101]

In this way, we can display the items of a tuple in ascending or descending order using the `sorted()` function.

In [34]:
list1.sort(reverse=True)
list1

[147, 136, 134, 133, 133, 126, 116, 113, 103, 101]

---

#### Task 7: The `zip()` Function

You have already learned that the `zip()` function can be used to join two or more lists to form a new dictionary and list. The objects need to be a list or a dictionary. Any two different iterable objects of the same length can be joined using the `zip` function. 

The iterable objects are those objects on which we can apply either a for loop or a while loop. So, if there are $n$ iterable objects and you want to join $r$ objects out of those $n$ objects such that $r \leq n$ and $n \ge1$, then you can do that in ${}^nP_r$ ways where $${}^nP_r = \frac{n!}{(n-r)!}$$ and $$n! = n \times (n - 1) \times (n-2) \dots 3 \times 2 \times 1$$

Also, $1! = 1$ and $0!=1$

E.g., if there are $n=3$ iterable objects (say list, dictionary, tuple) and you want to join $r=2$ of them, then you can join them in $${}^3P_2 = \frac{3!}{(3-2)!} = \frac{3 \times2 \times 1}{1} = 6 \space \text{ways}$$ 

The 6 possible ways are:

1. list, dictionary

2. dictionary, list

3. list, tuple

4. tuple, list

5. dictionary, tuple

6. tuple, dictionary

In the above expression, if $r=n$, i.e., if all of the iterable objects are to be joined using the `zip()` function at a time, then it can be done in $n!$ ways because $${}^nP_n = \frac{n!}{(n-n)!} = \frac{n!}{0!} = n!$$

E.g., if you want to join a list, a dictionary, and a tuple at once, then you can join them in $3! = 3\times 2 \times 1 = 6$ ways. In this case, the 6 possible ways are:

1. list, dictionary, tuple

2. list, tuple, dictionary

3. dictionary, list, tuple

4. dictionary, tuple, list

5. tuple, list, dictionary

6. tuple, dictionary, list


**Note:** You don't need to know this theory to apply the `zip()` function. It is just an example to demonstrate that mathematics is applied in real-life problems especially in the field of computer applications.

Let's create a NumPy array containing the years from 1991 to 2018 and join it with the `india_gdp_1991_2018` tuple to form a new tuple using the `zip()` function:

In [35]:
# S7.1: Create a NumPy array containing the year from 1991 to 2018 and join it with the 'india_gdp_1991_2018' tuple.
years_gdp=tuple(zip(np.arange(1991,2019),india_gdp_1991_2018))
years_gdp

((1991, 1.057),
 (1992, 5.482),
 (1993, 4.751),
 (1994, 6.659),
 (1995, 7.574),
 (1996, 7.55),
 (1997, 4.05),
 (1998, 6.184),
 (1999, 8.846),
 (2000, 3.841),
 (2001, 4.824),
 (2002, 3.804),
 (2003, 7.86),
 (2004, 7.923),
 (2005, 7.923),
 (2006, 8.061),
 (2007, 7.661),
 (2008, 3.087),
 (2009, 7.862),
 (2010, 8.498),
 (2011, 5.241),
 (2012, 5.456),
 (2013, 6.386),
 (2014, 7.41),
 (2015, 7.996),
 (2016, 8.17),
 (2017, 7.168),
 (2018, 6.811))

Repeat the same exercise by interchanging the positions of the array and the tuple inside the `zip()` function:

In [38]:
# S7.2: Repeat the same exercise by interchanging the positions of the array and the tuple inside the zip() function.
gdp_years=tuple(zip(india_gdp_1991_2018,np.arange(1991,2019)))
gdp_years

((1.057, 1991),
 (5.482, 1992),
 (4.751, 1993),
 (6.659, 1994),
 (7.574, 1995),
 (7.55, 1996),
 (4.05, 1997),
 (6.184, 1998),
 (8.846, 1999),
 (3.841, 2000),
 (4.824, 2001),
 (3.804, 2002),
 (7.86, 2003),
 (7.923, 2004),
 (7.923, 2005),
 (8.061, 2006),
 (7.661, 2007),
 (3.087, 2008),
 (7.862, 2009),
 (8.498, 2010),
 (5.241, 2011),
 (5.456, 2012),
 (6.386, 2013),
 (7.41, 2014),
 (7.996, 2015),
 (8.17, 2016),
 (7.168, 2017),
 (6.811, 2018))

This time, the year values appear after the GDP values in the newly formed tuple. In this way, we can create new tuples by joining an array and a tuple.

---

#### Task 8: Performance

Tuples are faster than lists. This is evident from the fact that tuples are immutable and have fewer functions as compared to the lists.

Let's find out how fast tuples are compared to lists by recording the time taken to create 1 million tuples and 1 million lists having identical items and identical lengths:

In [41]:
# Run the code below.
import timeit
tuple_time=timeit.timeit(stmt='(1,2,3,4,5,6,7,8,9,10)',number=1000000)
list_time=timeit.timeit(stmt='[x for x in range(1,11)]',number=1000000)
print('time take to 1 million tuples is: ',tuple_time,'\n',"time take to 1 million list is: ",list_time)

time take to 1 million tuples is:  0.020616191999579314
 time take to 1 million list is:  0.7709207149996473

That's it. We have covered everything we need regarding tuples. In the next class, we will learn string operations.

---